* {
	 text-align: center; /* Center in IE */
}

body {
	background-color: #333333;
	 margin: 0 20% 0 20%;

}

header {
	background-color: #666666;
}

header > p {
	padding-bottom: 1%;
}

main {
	padding-top: 1%;
	background-color: #888888;
}

h1 {
	font-size: 5em;
}
h2 {
	font-size: 3em;
}

.game-container {
	
}

.cases-container {
	display: inline;

}

#case-1 {}
#case-2 {}
#case-3 {}
#case-4 {}
#case-5 {}
#case-6 {}
#case-7 {}

.base-case-container {
	padding-top: 2%;
	padding-bottom: 2%;
}

#base-case-title {

}

#current-base-case {
	font-size: 3em;
	font-weight: 800;
}

.guess-input-container {
	padding-bottom: 2%;
}

.form-group input {
	margin-right: 1em;
	margin-left: 1em;
	width: 4em;
}

#task-input-1 {}
#task-input-2 {}
#task-input-3 {}

#submit-test-case {}

#test-user {}

.instructions-container {}


.guesses-container p {
	display: inline;
	}
.guess-holder {
	display: inline;
}
.correct-guess {
	color: green;
}
.wrong-guess {
	color: red;
}

#guess-label {
	display: block;
}


.game-details-container {

}

.details-container {
	display: inline;	
}

#timer-container {
	display: inline;

}
#case-completed {
	display: inline;

}
#average-time-per-case-container {
	display: inline;

}


