* {
	 text-align: center; /* Center in IE */
}

body {
	background-color: #333333;
	 margin: 0 20% 0 20%;

}

img {
	height: 150px;

}

header {
	background-color: #AAAAAA;
}

header > p {
	padding-bottom: 1%;
}

main {
	padding-top: 1%;
	background-color: #CCCCCC;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 2.5em;
	margin-top: 2px;
	padding-top: 0;
}

#shake-domino {
	height: 50px;
}

#reset-input-vals {
	margin: 1em 0 2em 0;
}

.cases-container {
	display: inline;
	margin-bottom: 1em;

}

.base-case-container {
	padding-top: 2%;
	padding-bottom: 2%;
}

.num-group {
	display: inline;
	padding: 0 0em 0 1em;
}

.guess-input-container {
	padding-bottom: 2%;
}

#current-base-case {
	padding: .5em;
}

#current-base-case img {
	padding: .1em;
}

.form-group input {
	margin-right: 1em;
	margin-left: 1em;
	width: 4em;
}

#task-input-1 {}
#task-input-2 {}
#task-input-3 {}

#submit-test-case {}

#test-user {}


#domino-choices {
	margin: 3% 20% 0 20%;
}
#domino-choices img {
	height: 90px;
	padding: .3em;
}

.dominoes-holder img {
	height: 90px;
	padding: .1em;
}

.guesses-container {
    display:flex;
	flex-direction:row;
	justify-content: center;
}

.guessed-domino-holder {
	    display: inline;
	    padding-right: 1em;
}

.guessed-domino-holder img {
	height: 95px;
}

.guess {
	font-size: 1.5em;
	font-weight: 600;
}

.guesses-container p {
	display: inline;
}

.guesses-container img {
	height: 85px;
}

.guess-holder {
	display: inline;
}
.correct-guess {
	background: #006400;
}
.wrong-guess {
	background: #8b0000;
}

.neutral-guess {
	color: gray;
}

.correct, .false {
    display:flex;
	flex-direction:column;
	padding: 0 3em 0 3em;
}

.correct p, .false p {
	display: block;
	font-weight: 800;
	font-size: 1.5em;
}

.rendered-guess {
	padding: 0 1.4em .2em .4em;
}

#guess-label {
	display: block;
}


.game-details-container p {
	font-size: 1.3em;

}

.details-container {
	display: inline;	
}

#guess-categories {
	font-size: 1.4em;
}

.choose-index-button {
	margin: 0 .5em 0 .5em;
}


textarea {
	text-align: justify;
	margin-bottom: 3em;
}

.label {
	font-weight: 800;
	color: black;
	font-size: 1.2em;
}